<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
        <property name="connection.user">root</property>
        <property name="connection.password">@Akanksha04</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">create</property> <!--for making table and update table-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="org.example.Student"/>
<!--        <mapping class="com.one_to_one_mapping.Question"/>-->
<!--        <mapping class="com.one_to_one_mapping.Answer"/>-->
<!--        <mapping class="com.one_to_many_mapping.Question1"/>-->
<!--        <mapping class="com.one_to_many_mapping.Answer1"/>-->
<!--        <mapping class="org.example.Address"/>-->
<!--        <mapping class="com.many_to_many_mapping.Emp"/>-->
<!--        <mapping class="com.many_to_many_mapping.Project"/>-->

    </session-factory>
</hibernate-configuration>